.grid {
    width: 200px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    
}
.grid div {
    height: 20px;
    width: 20px;
    background-color: rgb(142, 77, 148);
}